attrs==22.2.0
cachetools==5.2.1
chardet==5.1.0
colorama==0.4.6
contourpy==1.0.7
coverage==7.0.5
cycler==0.11.0
distlib==0.3.6
exceptiongroup==1.1.0
filelock==3.9.0
fonttools==4.38.0
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.6.3
numpy==1.24.1
packaging==23.0
Pillow==9.4.0
platformdirs==2.6.2
pluggy==1.0.0
pyparsing==3.0.9
pyproject_api==1.5.0
pytest==7.2.1
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
tox==4.3.5
virtualenv==20.17.1
